h1 {
    color: black;
    font-size: 300%;
    text-align: center;
}
.title > a {
    color: gray;
  }
  a{
    text-decoration-line: none;
  }
ul {
    list-style: none;
}
li {
    float: left;
    margin-left: 50px;
    text-align: center;
}