h2 {
    font-size: 40px;
    font-weight: 100;
    margin-top: 70px;
}

h6 {
    font-size: 15px;
    font-weight: 100;
    margin-top: 25px;
}

.contents1_bold{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contents01{
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 15px;
    margin-top: 15px;
}

.contents02{
    font-size: 13px;
    font-weight: lighter;
    margin-bottom: 20px;
    margin-top: 10px;
}
/*------menu---------*/
nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid rgb(177, 175, 175);
    display: inline-block;
    padding: 0 60px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: arvo;
}

nav.primary-navigation ul li:nth-last-child(1) {
    border-right: 2px solid rgb(177, 175, 175);
}

nav.primary-navigation li a {
    color: rgb(177, 175, 175);
    font-weight: lighter;
}
nav.primary-navigation li a:hover {
    color: black;
    font-weight: bold;
    transition: all 0.1s ease;
}

nav.primary-navigation li:hover {cursor: pointer;}

a {text-decoration: none;}

/*main*/
.intro{
  width:100%;
  margin-top: 60px;
  padding-top: 30px;
  text-align: center;
  background-color: #ebebec;
  height: 1000px;
}

.intro > h2,
.intro > h6{color:black;}

.main_01{
    display: flex;
    width: 1280px;
    height: 400px;
    /*background-color:aquamarine;*/
    margin: auto;
}

.main_01 > li {
    list-style: none;
    flex :1;
    background-color: rgb(206, 206, 209);
    height: 600px;
    margin-top: 40px;
    text-align: center;
    border-radius:20px;
}

.main_01 > li:not(:last-child){
    margin-right: 10px;
}

.main_01 > li > .profile_img{
    width: 100%;
    height: 50%;
    float :left;
    margin-top : 35px;
    margin-bottom : -10px;
    text-align: center; 
    justify-content: center;
}

  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 30px;
  }
  
  .link a i {
    color :black;
    font-size: 25px;
    padding: 5px;
  }

  .link a i:hover {
    color: #636d6f;
  }

  .link img {
    height: 3px;
  }

/*------gallery-------*/

.stories{
    /*background-color: aliceblue;*/
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}

body {margin: 0;}

  .container {
    display: grid;
    width: 720px;
    height: 800px;
    margin: auto;
    overflow: hidden;
    justify-content: center;
    position: inherit;
    grid-template-rows: repeat(2,230px);
    column-gap: 10px;
    row-gap: 10px;
  }

  .images {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .images img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }  

  @media (min-width: 400px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-flow: row dense;
    }

    .imageFlex1 {
      display: grid;
      row-gap: 10px;
      column-gap: 10px;
      margin-top: 80px;
    }
    .imageFlex2 {
      display: grid;
      row-gap: 10px;
      margin-top: 80px;
    }
    .imageFlex3 {
      display: grid;
      row-gap: 10px;
      margin-top: 80px;
    }
  }

  /*--footer*/
  footer {
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  footer p{
  margin-bottom: px;
  font-size: 13px;
  color: #949497;
}