   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   @font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
h2 {
    font-weight: 300;
    line-height: inherit;
}

li {list-style: none;}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


/*------menu-------*/
nav.primary-navigation {
    margin: 0 auto;
    display: block;
    padding: 10px 0 0 0;
    text-align: center;
    font-size: 16px;
}

nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid rgb(177, 175, 175);
    display: inline-block;
    padding: 0 60px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: 'NanumBarunGothic';
    font-weight: 100;
}

nav.primary-navigation ul li:nth-last-child(1) {
    border-right: 2px solid rgb(177, 175, 175);
}

nav.primary-navigation li a {
    color: rgb(177, 175, 175);
    font-weight: lighter;
}

nav.primary-navigation li a:hover {
    color: black;
    font-weight: bold;
    transition: all 0.1s ease;
}

nav.primary-navigation li:hover {
    cursor: pointer;
}

a {text-decoration: none;}

/*---contents_title--*/
.contentsarea {
    overflow: hidden;
    min-height: 100px;
    margin: 0 auto;
    padding: 30px 0 10px;
}

.contentsarea .contents_title {
    padding: 25px 0;
    margin: 0 auto 35px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 1px;
    text-align: center;
    font-family: 'Lora', serif;
    background-color: #2a2a2a;
}

.contentsarea .contents_title h2 {
    color: rgb(209, 209, 209);
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contentsarea .contents_title h2.no_line {
    letter-spacing: 3px;
}

.contentsarea .contents_title h2 span {
    display: inline-block;
    margin: 0 8px;
    width: 1px;
    height: 27px;
    transform: translateY(4px) rotate(15deg);
    background: rgb(209, 209, 209);
}

.contentsarea .contents_title2 {
    margin-bottom: 50px;
    text-align: center;
    font-family: 'LeferiPoint-WhiteObliqueA';
}

.contentsarea .contents_title2 p {
    color: rgb(209, 209, 209);
    font-size: 17px;
    font-weight: 200;
}

.contentsarea .contents_title2 .point {
    margin-top: 30px;
    font-size: 38px;
    font-family: 'NanumBarunGothic', sans-serif;
}


/*기수 선택*/
.project_area {
    font-family: 'NanumBarunGothic', sans-serif;
    color : #222;
    line-height: 1.5em;
    position: relative;
}

.dropdown-submenu a {
    color : #222;
    text-decoration: none;
    background-color: #eee;
}

.dropdown {
    /* 보더를 통해서 틀을 봐주는게 좋다 ! */
    /* border: 1px solid #000; */
    /* width: 200px; */
    display: inline-block;
    float: right;
    }

 /* 오른쪽에 아래화살표 넣기*/
.dropdown-btn {
    width: 200px;
    /* 패딩으로 크기 늘려주기 */
    padding : 10px;
    color: #252525;
    font-size: 15px;
    text-align: left;
    border: 1px solid #d0d0d0;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}

.dropdown-btn i {
    float: right;
}

.dropdown-submenu{
    /* border: 1px solid #000; */
    width:200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    display: none;
    position: absolute;
    top:45px;
    padding-top: 3px;
    z-index: 1000;
    align-items: center;
}
/*배경색 하얗게*/

.dropdown-submenu a {
    display: block;
    padding: 7px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: #222;
}

.dropdown-submenu a:hover{
    background-color: #eee;
}
/* hover 뒤에 다른 selector가 이어지면 앞이 명령의 대상, 뒤에가 style이 수행되고 적용되는 부분 */
/* dropdown-btn 과 dropdown-sumbenu는 둘이 같은 계층이다 그래서 동작 안하는거임 (상하관계가 되어야 동작함)
한칸을 띄운다 = 상하관계가 전제가 되어있다는거임 !!!!!*/

.dropdown:hover .dropdown-submenu {
    display: block;

}

/*project_list*/
.project_area2 .project_list>li dl dd .name {
    position: relative;
    right: inherit;
    top: 0;
    margin-top: 10px;
    font-family: 'NanumBarunGothic';
}

.link {
    position: relative;
    right: inherit;
    margin-right: 10px;
    display: flex;
    list-style: none;
    float: right;
  }
  
  .link a i {
    color :black;
    font-size: 30px;
    padding: 1px;
  }

  .link a i:hover {
    color: #636d6f;
  }

.project_area2 .project_list {
    border-top: 1px solid #252525;
    margin-top: 100px;
    font-family: 'NanumBarunGothic';
}

.project_area2 .project_list>li {
    border-bottom: 1px solid #d0d0d0;
    font-family: 'NanumBarunGothic';
    padding-top: 4px;
    margin-left: -40px;
}

.project_area2 .project_list>li:hover {
    background: #f1fcff;
}

.project_area2 .project_list>li dl {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-family: 'NanumBarunGothic';
}

.project_area2 .project_list>li dl dt {
    display: table-cell;
    width: 140px;
    text-align: center;
    vertical-align: middle;
    color: #525252;
    font-size: 25px;
    font-weight: 600;
    font-family: 'LeferiPoint-WhiteObliqueA';
    font-weight: bolder;
}

.project_area2 .project_list>li dl dt span {
    font-size: 30px;
}

.project_area2 .project_list>li dl dd {
    display: table-cell;
    position: relative;
    padding: 15px;
}

.project_area2 .project_list>li dl dd h3 {
    margin-bottom: 5px;
    color: #c90101;
    font-size: 22px;
    font-family: 'NanumBarunGothic';
}

.project_area2 .project_list>li dl dd h4 {
    margin-bottom:15px;
    font-size: 15px;
    font-weight: 200;
    font-family: 'NanumBarunGothic';
}

.project_area2 .project_list>li dl dd p {
    color: #999;
    font-size: 13px;
}

.project_area2 .project_list>li dl dd .name {
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 1px;
}

.project_area2 .project_list>li dl dd .name li {
    float: left;
    margin-right: 5px;
    width: 80px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #d0d0d0;
}

  /*--footer*/
  footer {
    width: 100%;
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  footer p{
  margin-bottom: px;
  font-size: 13px;
  color: #949497;
}